<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Lab: Cleaning Rock Song Data

_Authors: Dave Yerrington (SF)_

---

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns

%matplotlib inline

### 1. Load `rock.csv` and do an initial examination of its data columns.

In [2]:
rockfile = "./datasets/rock.csv"

In [3]:
# Load the data.
rock = pd.read_csv(rockfile)

In [4]:
# Look at the information regarding its columns.
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
Song Clean      2230 non-null object
ARTIST CLEAN    2230 non-null object
Release Year    1653 non-null object
COMBINED        2230 non-null object
First?          2230 non-null int64
Year?           2230 non-null int64
PlayCount       2230 non-null int64
F*G             2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

### 2.  Clean up the column names.

Let's clean up the column names. There are two ways we can accomplish this:

#### 2.A Change the column names when you import the data using `pd.read_csv()`.

Notice that, when passing `names=[..A LIST OF STRING..]` with a number of columns that matches the number of strings in the passed list, you replace the column names.

NOTE: When you create custom column names, the first row of the `.csv` already represents a header. It is important to tell `pandas` to skip that row. The `skiprows=1` keyword argument to `read_csv()` will tell `pandas` to skip the first row.

In [6]:
# Change the column names when loading the '.csv':
names = ['song', 'artist', 'release', 'combined', 'first', 'year', 'playcount', 'fg']
rock = pd.read_csv(rockfile, skiprows=1, names=names)
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
song         2230 non-null object
artist       2230 non-null object
release      1653 non-null object
combined     2230 non-null object
first        2230 non-null int64
year         2230 non-null int64
playcount    2230 non-null int64
fg           2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

#### 2.B Change column names using the `.rename()` function.

The `.rename()` function takes an argument, `columns=name_dict`, in which `name_dict` is a dictionary containing the original column names as keys and the new column names as values.

In [7]:
# Change the column names using the `.rename()` function.

#### 2.C Reassigning the `.columns` attribute of a DataFrame.

You can also just reassign the `.columns` attribute to a list of strings containing the new column names. 

The only caveat with reassigning `.columns` is that you have to reassign all of the column names at once. You can't partially replace a value by working on `.columns` directly. You have to reassign `.columns` with a list of equal length.

In [10]:
# Replace the column names by reassigning the `.columns` attribute.
rock.columns = names
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
song         2230 non-null object
artist       2230 non-null object
release      1653 non-null object
combined     2230 non-null object
first        2230 non-null int64
year         2230 non-null int64
playcount    2230 non-null int64
fg           2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

### 3. Subsetting data where null values exist.

We have mixed `str` and `NaN` values in the `release` column. `NaN` stands for "not a number" and is the way `pandas` handles "nulls" or nonexistent data. We can use the `.isnull()` method of a Series to find null values.

Print the header of the data subset to where the `release` column is null values.

In [18]:
# Show records where df['release'] is null

rock[rock['release'].isnull()]

,song,artist,release,combined,first,year,playcount,fg
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0
25,Live Wire,AC/DC,NaN,Live Wire by AC/DC,1,0,2,0
26,Moneytalks,AC/DC,NaN,Moneytalks by AC/DC,1,0,20,0
29,Shoot To Thrill,AC/DC,NaN,Shoot To Thrill by AC/DC,1,0,45,0
31,Sin City,AC/DC,NaN,Sin City by AC/DC,1,0,1,0
35,What Do You Do For Money Honey,AC/DC,NaN,What Do You Do For Money Honey by AC/DC,1,0,2,0
42,"Baby, Please Don't Go",Aerosmith,NaN,"Baby, Please Don't Go by Aerosmith",1,0,1,0
45,Come Together,Aerosmith,NaN,Come Together by Aerosmith,1,0,65,0
53,Kings and Queens,Aerosmith,NaN,Kings and Queens by Aerosmith,1,0,1,0
60,One Way Street,Aerosmith,NaN,One Way Street by Aerosmith,1,0,1,0
66,The Other Side,Aerosmith,NaN,The Other Side by Aerosmith,1,0,11,0
71,You See Me Crying,Aerosmith,NaN,You See Me Crying by Aerosmith,1,0,1,0
75,Fantasy,Aldo Nova,NaN,Fantasy by Aldo Nova,1,0,4,0
76,BE MY LOVER,Alice Cooper,NaN,BE MY LOVER by Alice Cooper,1,0,1,0
80,House Of Fire,Alice Cooper,NaN,House Of Fire by Alice Cooper,1,0,1,0
100,One Way Out,Allman Brothers Band,NaN,One Way Out by Allman Brothers Band,1,0,3,0
102,Southbound,Allman Brothers Band,NaN,Southbound by Allman Brothers Band,1,0,2,0
104,Whippin' Post,Allman Brothers Band,NaN,Whippin' Post by Allman Brothers Band,1,0,6,0
110,Immigrant Song,Ann Wilson,NaN,Immigrant Song by Ann Wilson,1,0,2,0
111,Roller,April Wine,NaN,Roller by April Wine,1,0,1,0
113,Coming into Los Angeles,Arlo Guthrie,NaN,Coming into Los Angeles by Arlo Guthrie,1,0,1,0
114,Wayside,Artful Dodger,NaN,Wayside by Artful Dodger,1,0,1,0
118,Spooky,Atlanta Rhythm Section,NaN,Spooky by Atlanta Rhythm Section,1,0,1,0
120,Blondes In Black Cars,Autograph,NaN,Blondes In Black Cars by Autograph,1,0,1,0
122,Rock And Roll Party In The Streets,Axe,NaN,Rock And Roll Party In The Streets by Axe,1,0,1,0
124,Roll On Down The Highway,Bachman-Turner Overdrive,NaN,Roll On Down The Highway by Bachman-Turner Ove...,1,0,5,0
...,...,...,...,...,...,...,...,...
2149,Take Your Whiskey Home,Van Halen,NaN,Take Your Whiskey Home by Van Halen,1,0,8,0
2150,Top Jimmy,Van Halen,NaN,Top Jimmy by Van Halen,1,0,23,0
2151,Top of the World,Van Halen,NaN,Top of the World by Van Halen,1,0,5,0
2157,And It Stoned Me,Van Morrison,NaN,And It Stoned Me by Van Morrison,1,0,1,0
2158,BLUE MONEY,Van Morrison,NaN,BLUE MONEY by Van Morrison,1,0,1,0
2162,Gloria,Van Morrison,NaN,Gloria by Van Morrison,1,0,1,0
2164,Jackie Wilson Said,Van Morrison,NaN,Jackie Wilson Said by Van Morrison,1,0,1,0
2168,Edge of a Broken Heart,Vixen,NaN,Edge of a Broken Heart by Vixen,1,0,2,0
2174,Uncle Tom's Cabin,Warrant,NaN,Uncle Tom's Cabin by Warrant,1,0,1,0
2178,Street Corner Serenade,Wet Willie,NaN,Street Corner Serenade by Wet Willie,1,0,2,0
2179,Wait,White Lion,NaN,Wait by White Lion,1,0,1,0
2184,Slow An' Easy,Whitesnake,NaN,Slow An' Easy by Whitesnake,1,0,6,0
2185,Still of the Night,Whitesnake,NaN,Still of the Night by Whitesnake,1,0,14,0
2186,Who Are You?,Why Not,NaN,Who Are You? by Why Not,1,0,5,0
2188,Night Moves,Wildlife,NaN,Night Moves by Wildlife,1,0,23,0
2189,We've Got Tonight,Wildlife,NaN,We've Got Tonight by Wildlife,1,0,4,0
2190,Can't Get Enough,Winger,NaN,Can't Get Enough by Winger,1,0,1,0
2191,Headed For A Heartbreak,Winger,NaN,Headed For A Heartbreak by Winger,1,0,1,0
2192,Seventeen,Winger,NaN,Seventeen by Winger,1,0,2,0
2194,Summertime Girls,Y&T,NaN,Summertime Girls by Y&T,1,0,4,0
2203,Wonderous Stories,Yes,NaN,Wonderous Stories by Yes,1,0,5,0
2205,Tell Me What You Want,Zebra,NaN,Tell Me What You Want by Zebra,1,0,2,0
2206,Who's Behind The Door,Zebra,NaN,Who's Behind The Door by Zebra,1,0,1,0
2208,A Fool for Your Stockings,ZZ Top,NaN,A Fool for Your Stockings by ZZ Top,1,0,1,0
2215,I Thank You,ZZ Top,NaN,I Thank You by ZZ Top,1,0,16,0
2216,"I'm Bad, I'm Nationwide",ZZ Top,NaN,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2218,Just Got Paid,ZZ Top,NaN,Just Got Paid by ZZ Top,1,0,2,0
2221,My Head's In Mississippi,ZZ Top,NaN,My Head's In Mississippi by ZZ Top,1,0,1,0
2222,Party On The Patio,ZZ Top,NaN,Party On The Patio by ZZ Top,1,0,14,0
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0

### 4. Update slices of your DataFrame based on mask selection/slices.

In many scenarios, we want to upate values in our DataFrame according to criteria. Let's say we wanted to set all of the null values in `release` to 0.

With newer versions of `pandas`, in order to manipulate data in the original DataFrame, we have to use `.loc` while performing reassignment using a mask and an index.

For example, the following won't always work:
```python
df[row_mask]['column_name'] = new_value
```

The best way to accomplish the same task is:
```python
df.loc[row_mask, 'column_name'] = new_value
```

For multiple column assignment, you would use:
```python
df.loc[row_mask, ['col_1', 'col_2', 'col_3']] = new_value
```

#### 4.A Let's try it out. Make all of the null values in `release` 0.

In [28]:
# Replace release nulls with 0
row_mask = rock['release'].isnull()
rock.loc[row_mask, 'release']= 0

#### 4.B Verify that `release` contains no null values.

In [29]:
# A:
rock.isnull().sum()

song         0
artist       0
release      0
combined     0
first        0
year         0
playcount    0
fg           0
dtype: int64

### 5. Ensure that the data types of the columns make sense. 

Verifying column data types is a critical part of data munging. If columns have the wrong data type, then there is usually corrupted or incorrect data in some of the observations.

#### 5.A Look at the data types for the columns. Are any incorrect given what the data represents?

In [35]:
# A:
names = ['song', 'artist', 'release', 'combined', 'first', 'year', 'playcount', 'fg']
rock = pd.read_csv(rockfile, skiprows=1, names=names)
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
song         2230 non-null object
artist       2230 non-null object
release      1653 non-null object
combined     2230 non-null object
first        2230 non-null int64
year         2230 non-null int64
playcount    2230 non-null int64
fg           2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

### 6. Investigate and clean up the `release` column.

The `release` column is a string data type when it should be an integer.

#### 6.A Figure out what value(s) are causing the `release` column to be encoded as a string instead of an integer.

In [12]:
# A:

#### 6.B Look at the rows in which there is incorrect data in the `release` column.

In [36]:
# A:
rock.release.unique()

array(['1982', nan, '1981', '1980', '1975', '2000', '2002', '1992',
       '1985', '1993', '1976', '1995', '1979', '1984', '1977', '1990',
       '1986', '1974', '2014', '1987', '1973', '2001', '1989', '1997',
       '1971', '1972', '1994', '1970', '1966', '1965', '1983', '1955',
       '1978', '1969', '1999', '1968', '1988', '1962', '2007', '1967',
       '1958', '1071', '1996', '1991', '2005', '2011', '2004', '2012',
       '2003', '1998', '2008', '1964', '2013', '2006', 'SONGFACTS.COM',
       '1963', '1961'], dtype=object)

#### 6.C. Clean up the data. Normally we may replace the offending data with null np.nan values, however we previously converted all of the nan values in the release column to zeros so we might as well continue with the same practice. Replacing with 0 (or nan) will allow us to convert the column to numeric.

In [44]:
# A:
row_incorrect = rock['release'] == 'SONGFACTS.COM'
rock.loc[row_incorrect, 'release'] = 0
rock.loc[row_mask, 'release'] = 0
rock.release.unique()

array(['1982', nan, '1981', '1980', '1975', '2000', '2002', '1992',
       '1985', '1993', '1976', '1995', '1979', '1984', '1977', '1990',
       '1986', '1974', '2014', '1987', '1973', '2001', '1989', '1997',
       '1971', '1972', '1994', '1970', '1966', '1965', '1983', '1955',
       '1978', '1969', '1999', '1968', '1988', '1962', '2007', '1967',
       '1958', '1071', '1996', '1991', '2005', '2011', '2004', '2012',
       '2003', '1998', '2008', '1964', '2013', '2006', 0, '1963', '1961'],
      dtype=object)

### 7. Get summary statistics for the `release` column using the `.describe()` function.

Now that the `release` column is finally a numeric data type, we can apply the `.describe()` function.  

#### 7.A Print out the summary stats for the `release` column. What is the earliest and latest release date?

In [43]:
# A:
rock['release'].describe()

count     1653
unique      56
top       1973
freq       104
Name: release, dtype: object

#### 7.B Based on the summary statistics, is there anything else wrong with the `release` column?

In [16]:
# A:

_Looking at the DataFrame that contains the year 1071, we can see that the year was probably corrupted and should be replaced with something else if possible._

### 8. Make changes and investigate using custom functions with `.apply()`.

Let's say we want to traverse every single row in our data set and apply a function to that row.

#### 8.A Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970.

In [17]:
# A:

#### 8.B Using the `.apply()` function, apply the function you wrote to the first four rows of the DataFrame.

You will need to tell the `apply` function to operate row by row. Setting the keyword argument as `axis=1` indicates that the function should be applied to each row individually.

In [18]:
# A:

You'll notice that there will be a final output Series of `None` values. The `.apply()` function, if a return value is not specified, will return a Series of `None` values (similar to how the default return for Python functions is `None` when a return statement is not specified).

### 9. Write a function that converts cells in a DataFrame to float and otherwise replaces them with `np.nan`.

If applied to our data, it would keep only the numeric information and otherwise input null values.

Recall that the try-except syntax in Python is a great way to try something and take another action if the initial step fails:

```python
try:
    Perform some action.
except:
   Perform some other action if the first failed with an error.
```

#### 9.A Write the function that takes a column and converts all of its values to float if possible and `np.nan` otherwise. The return value should be the converted Series.

In [19]:
# A:

#### 9.B Try your function out on the rock song data and ensure the output is what you expected.

In [20]:
# A:

#### 9.C Describe the new float-only DataFrame.

In [21]:
# A: